@model TravelTripProject.Models.Classes.Comment
@{
    ViewBag.Title = "FetchComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Yorum Güncelleme Sayfası</h3>
@using (Html.BeginForm("UpdateComment", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.KullaniciAdi)
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control"})
    <br />
    @Html.LabelFor(x => x.yorum)
    @Html.TextBoxFor(x => x.yorum, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })

    <br />
    @Html.LabelFor(x => x.Blog.Baslik)
    @Html.TextBoxFor(x => x.Blog.Baslik, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>

}

